<h2 id="logo">TicketsTogether</h2>

{{#if currentUser.isSignedIn}}
    Logged in as {{currentUser.email}}
    ({{#linkTo sessions.destroy}}Logout{{/linkTo}})
{{else}}
    {{#linkTo users.new}}Sign Up{{/linkTo}} |
    {{#linkTo sessions.new}}Login{{/linkTo}}
{{/if}}

<div id="content">
    {{outlet}}
</div>
