<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">TicketsTogether</a>
      <div class="nav-collapse collapse">

        {{#if currentUser.isSignedIn}}
        <p class="navbar-text pull-right">
            Logged in as {{currentUser.email}}
        </p>
        <ul class="nav">
            <li>
            {{#linkTo users.index}}Add Friends{{/linkTo}}
            </li>
            <li>
            {{#linkTo friendships}}Manage Friends{{/linkTo}}
            </li>
            <li>
            {{#linkTo sessions.destroy}}Logout{{/linkTo}}
            </li>
        </ul>
        {{else}}
        <ul class="nav">
            <li>
            {{#linkTo users.new}}Sign Up{{/linkTo}}
            </li>
            <li>
            {{#linkTo sessions.new}}Login{{/linkTo}}
            </li>
        </ul>
        {{/if}}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="container">
    <p class="lead">Where you and your friends find your next show</p>
    <div class="well">
        {{#linkTo performers classNames="btn btn-inverse btn-large"}}
            <i class="icon icon-circle"></i>
            <i class="icon icon-circle-blank"></i>
            All Performers
        {{/linkTo}}
        {{#linkTo interests classNames="btn btn-inverse btn-large"}}
            <i class="icon icon-heart"></i>
            <i class="icon icon-heart-empty"></i>
            My Favorites
        {{/linkTo}}
        {{#linkTo users.new classNames="btn btn-inverse btn-large"}}
            <i class="icon icon-thumbs-up"></i>
            <i class="icon icon-thumbs-up-alt"></i>
            My Friends' Favorites
        {{/linkTo}}
    </div>

    {{outlet}}
</div>
