<h1>Your friends</h1>
<table class="table table-striped">
    {{#each friendship in controller}}
    <tr>
        <td>
            {{friendship.friend.email}} 
        </td>
        <td>
            <a class="btn btn-mini btn-danger" {{action removeFriend friendship}}>Remove friend</a>
        </td>
    </tr>
    {{/each}}
</ul>
