<h1>Your friends</h1>
<ul>
    {{#each friendship in controller}}
        <li>
            {{friendship.friendId}} - {{friendship.friend.email}} 
                (<a {{action removeFriend friendship}}>Remove friend</a>)
        </li>
    {{/each}}
</ul>
