<h1>List of all users </h1>
<table class="table table-striped">
    {{#each user in controller}}
    <tr>
        <td>
            {{user.email}} 
        </td>
        <td>
            {{#if currentUser.isSignedIn}}
                <a class="btn btn-mini btn-success" {{action addFriend user}}>Add friend</a>
            {{/if}}
        </td>
    </tr>
    {{/each}}
</ul>
