<!DOCTYPE html>
<html lang="en">
<head>
  <title>TicketsTogether</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <style>
       /* bootstrap example */
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      /* nav */
      .well .btn-large .icon { margin-right: 6px; }
      .well .icon.icon-circle { display: none; }
      .well .icon.icon-circle-blank { display: inherit; }
      .well .icon.icon-heart { display: none; }
      .well .icon.icon-heart-empty { display: inherit; }
      .well .icon.icon-thumbs-up { display: none; }
      .well .icon.icon-thumbs-up-alt { display: inherit; }
      .well .active .icon-circle { display: inherit; }
      .well .active .icon-circle-blank { display: none; }
      .well .active .icon-heart { display: inherit; }
      .well .active .icon-heart-empty { display: none; }
      .well .active .icon-thumbs-up { display: inherit; }
      .well .active .icon-thumbs-up-alt { display: none; }

      /* performers */
      .thumbnail {
          position: relative;
          height: 195px;
      }
      .thumbnail h3 {
          position: absolute;
          left: 4px;
          bottom: 8px;
          display: inline-block;
          padding: 0 4px;
          background: #fff;
      }
      .thumbnail h3 a {
          color: inherit;
      }
      .thumbnail .btn {
          position: absolute;
          top: 12px;
          right: 12px;

      }


    </style>
</head>
<body>

<%= yield %>

</body>
</html>
